.header {
  border-bottom: 1px solid black;
  margin-bottom: 50px;
}

.title {
  font-size: 50px;
  font-weight: 900;
}

.body .card .card-body .card-text p {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: -7px !important;
}

.type {
  display: none;
}
